<h1>Listing widgets</h1>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Created at</th>
    <% if user_signed_in? %>
    <th></th>
    <% end %>
  </tr>
</thead>

<tbody>
<% @widgets.each do |widget| %>
  <tr>
    <td><%= link_to widget.name, widget %></td>
    <td><%= widget.created_at %></td>
    <% if user_signed_in? %>
    <!-- <td><a href=<%= widget.source.url %>>Download</a></td> -->
    <!-- <td><%= link_to 'Subscribe', subscribe_widget_path(widget)%></td> -->
    <!-- <td><%= link_to 'Unsubscribe', unsubscribe_widget_path(widget)%></td> -->
    <td><%= link_to 'Install', publish_widget_path(widget)%></td>
    <% end %>
    <!-- <td><%= link_to 'Show', widget %></td> -->
    <!-- <td><%= link_to 'Edit', edit_widget_path(widget) %></td> -->
    <!-- <td><%= link_to 'Destroy', widget, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</tbody>
</table>

<br />
<% if user_signed_in? %>
<%= link_to 'New Widget', new_widget_path %>
<% end %>
